{% extends "base.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<main class="flex-fill py-4">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Update Your Profile</h2>
        <form method="post">
            {% csrf_token %}

            <!-- email -->
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label"></label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="text-danger">
                    {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- first_name -->
            <div class="mb-3">
                <label for="{{ form.first_name.id_for_label }}" class="form-label"></label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                <div class="text-danger">
                    {% for error in form.first_name.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- last_name -->
            <div class="mb-3">
                <label for="{{ form.last_name.id_for_label }}" class="form-label"></label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                <div class="text-danger">
                    {% for error in form.last_name.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- password -->
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label"></label>
                {{ form.password }}
                {% if form.password1.errors %}
                <div class="text-danger">
                    {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- confirm password -->
            <div class="mb-3">
                <label for="{{ form.phone.id_for_label }}" class="form-label"></label>
                {{ form.phone }}
            </div>

            <!-- postal_code -->
            <div class="mb-3">
                <label for="{{ form.postal_code.id_for_label }}" class="form-check-label"></label>
                {{ form.postal_code }}
            </div>

            <!-- address1 -->
            <div class="mb-3">
                <label for="{{ form.address1.id_for_label }}" class="form-check-label"></label>
                {{ form.address1 }}
            </div>

            <!-- address2 -->
            <div class="mb-3">
                <label for="{{ form.address2.id_for_label }}" class="form-check-label"></label>
                {{ form.address2 }}
            </div>

            <!-- country -->
            <div class="mb-3">
                <label for="{{ form.country.id_for_label }}" class="form-check-label"></label>
                {{ form.country }}
            </div>

            <!-- city -->
            <div class="mb-3">
                <label for="{{ form.city.id_for_label }}" class="form-check-label"></label>
                {{ form.city }}
            </div>

            <!-- button -->
            <button type="submit" class="btn btn-primary w-100">Update</button>
        </form>
    </div>
</main>
{% endblock %}
